@import '_variables';
/**equipos**/
body{
    .titulo {
        text-align: center;
        font-size : 5em;
        color: #2d3047;
        @include pading(0.2em);
        
    }
    .contenedor{
        background-color:$colorBody;
        @include pading(1.25em);
        .card{
            width:90%;
            margin-right: auto;
            margin-left: auto; 
            .card-text{
                text-align: center;
            }
            .card-title{
                @extend .card-text;
            }
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }
            
    }      
}
/**fin equipos**/