@import "_variables";

body{
    .cuadro{
        width:100%;
        img{
            display : block;
            margin-left: auto;
            margin-right: auto;
            width:112.5em;
            height:44em; 
        }
    }
}